{% extends 'partials/base.html' %}
{% load static %}



{% block content %}
<div class='row justify-content-md-center'>
    <div class="col-md-6 mb-4">
        <h1> Edit Category </h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
            <label for="name">Product Name</label>
            <input type="text" class="form-control" value="{{product.p_name}}" name="p_name" id="name" placeholder="Product Name">
            </div>  <br>
            <div class="form-group">
            <label for="description">Product Code</label>
            <input type="text" class="form-control" value="{{product.p_code}}" name="p_code" id="description" placeholder="Product Code">
            </div>  <br>
            <div class="form-group">
                <label for="description">Product Description</label>
                <input type="text" class="form-control" value="{{product.p_description}}" name="p_description" id="description" placeholder="Product Description">
            </div>  <br>
            <div class="form-group">
                <label for="productImage" class="form-label">Product Image</label>
                <br>
                {% if product.p_image %}
                    <img src="{{product.p_image.url}}" width="100" height="100"/>
                {% endif %}
                <br>
                <input name="p_image" value="{{product.p_image.url}}" multiple class="form-control" type="file" id="formFile" >
            </div> <br>
            <div class="form-group">
                <label for="description">Product Stock</label>
                <input type="number" class="form-control" value="{{product.p_stock}}" name="p_stock" id="description" placeholder="Product Stock">
            </div>  <br>
            <div class="form-group">
                <label for="description">Product Price</label>
                <input type="number" class="form-control" value="{{product.p_price}}" name="p_price" id="description" placeholder="Product Price">
            </div>  <br>
            <div class="form-group">
                <label for="p_category">Product Category</label>
                <select class="form-select" name="p_category" aria-label="Default select example" >
                    <option selected>Choose Category</option>
                    {% for p_category in category %}
                    <option value="{{p_category.pk}}">{{p_category.c_name}}</option>
                    {% endfor %}
                    
                </select>
            </div>
            <p>{{form.errors}}</p>
            <div class="float-right">
                <a href="{% url 'edit-products' product.id %}">
                    <button type="submit" class="btn btn-primary">Confirm Edit</button>
                </a>
                <a href="{% url 'manage-products'%}">
                    <button type="button" class="btn btn-secondary">Back</button>
                </a>
            </div>
            
        </form>
        <br>
        
        
    </div>
</div> 


{% endblock content %}
