<header class="header bg-white">
    <div class="container px-lg-3">
      <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0"><a class="navbar-brand" href="{% url 'home' %}"><span class="fw-bold text-uppercase text-dark">E-COMMERCE</span></a>
        <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% if not user.is_staff %}
          <!--Navbar for guest and customers-->
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <!-- Link--><a class="nav-link active" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <!-- Link--><a class="nav-link" href="{% url 'shop' %}">Shop</a>
            </li>
            <li class="nav-item">
              <!-- Link--><a class="nav-link" href="detail.html">Product detail</a>
            </li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
              <div class="dropdown-menu mt-3 shadow-sm" aria-labelledby="pagesDropdown">
                <a class="dropdown-item border-0 transition-link" href="index.html">Homepage</a>
                <a class="dropdown-item border-0 transition-link" href="shop.html">Category</a>
                <a class="dropdown-item border-0 transition-link" href="detail.html">Product detail</a>
                <a class="dropdown-item border-0 transition-link" href="cart.html">Shopping cart</a>
                <a class="dropdown-item border-0 transition-link" href="checkout.html">Checkout</a>
              </div>
            </li>
          </ul>
          {% else %}
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <!-- Link--><a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <!-- Link--><a class="nav-link" href="#">Orders</a>
            </li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Users</a>
              <div class="dropdown-menu mt-3 shadow-sm" aria-labelledby="pagesDropdown">
                <a class="dropdown-item border-0 transition-link" href="{% url 'manage-customers' %}">Customers</a>
                <a class="dropdown-item border-0 transition-link" href="{% url 'manage-staffs' %}">Staffs</a>
              </div>
            </li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage</a>
              <div class="dropdown-menu mt-3 shadow-sm" aria-labelledby="pagesDropdown">
                <a class="dropdown-item border-0 transition-link" href="{% url 'manage-category' %}">Manage Category</a>
                <a class="dropdown-item border-0 transition-link" href="{% url 'manage-products' %}">Manage Products</a>
              </div>
            </li>
            
          </ul>

          {% endif %}

          <ul class="navbar-nav ms-auto">               
            <li class="nav-item"><a class="nav-link" href="{% url 'cart' %}"> <i class="fas fa-dolly-flatbed me-1 text-gray"></i>Cart<small class="text-gray fw-normal"> ({{total_products}})</small></a></li>
            {% comment %} <li class="nav-item"><a class="nav-link" href="#"> <i class="fas fa-user me-1 text-gray fw-normal"></i>{{user}}</a></li> {% endcomment %}
            {% if user.is_authenticated %}
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user me-1 text-gray fw-normal"></i>{{user}}</a>
              <div class="dropdown-menu mt-3 shadow-sm" aria-labelledby="pagesDropdown">
                <a class="dropdown-item border-0 transition-link" href=" {% url 'logout' %}"> <i class="fas fa-user me-1 text-gray fw-normal"></i>Logout</a>
                <a class="dropdown-item border-0 transition-link" href="{% url 'my-orders' user.id %}"><i class="bi bi-calendar-heart"></i>My Orders</a>
                <a class="dropdown-item border-0 transition-link" href="{% url 'cart' %}" ><i class="bi bi-bag-check"></i>My Cart</a>
              </div>
            </li>
            
            {% comment %} {% if user.is_authenticated %} {% endcomment %}
            {% comment %} <li class="nav-item"><a class="nav-link" href=" {% url 'logout' %}"> <i class="fas fa-user me-1 text-gray fw-normal"></i>Logout</a></li> {% endcomment %}
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"> <i class="fas fa-user me-1 text-gray fw-normal"></i>Login</a></li>
            {% endif %}
            
          </ul>
        </div>
      </nav>
    </div>
  </header>